.row{
    background-color: rgb(160, 215, 216);
    border: solid 1px  rgb(152, 152, 152);
    border-radius: 10px;
}
img{
    width: 150px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}