
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoCV.png" class="img-fluid" alt="fotoCV" id="fotoCV">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gonzalez Florencia</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nihil illo, quos ratione quas necessitatibus architecto quae distinctio, voluptate quaerat autem nobis expedita ea quidem! Similique ut voluptatibus blanditiis recusandae.</p>
        </span>
    </div>
</div>
